{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
n  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://i.imgur.com/Wdy7zYL.gif">
      <!-- <img src="{% static 'ProofGeneral-splash.png'%}"> -->
    </a>
    <p>Automated Piano Fingerings!</p>
  </div>
</div>
<div class="container">
  <div class="container">
    <h2>Simple steps</h2>
    <ul>
      <li>First pick a piano score in <a href="http://www.musicxml.com/">musicXML</a> format, </li>
      <li>Next upload that file using the choose file exlporer and the upload button</li>
      <li>Finally wait for your score to be annotated.  Annotation could take up to a minute</li>
  </div>
  {% if documents %}
  <p>File to be annotated:</p>
  <ul>
    {% for document in documents %}
    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
    {% endfor %}
  </ul>

  {% endif %}
  <!-- <p> -->
  <!--   We are currently undergoing a change to our model. -->
  <!-- </p> -->

<form action="/upload/" enctype="multipart/form-data" method="post", onclick="return validate()">
    {% csrf_token %}
    <input type="file" name="xmlfile">

    <input type="submit" value="upload xml file">
</form>
{% if Out == True %}
Your files are being annotated
{% endif %}

  <div class="alert alert-info" role="alert">
    <p>Annotated files </p>
    <ul>
      {% for file in Files %}
      <li> <a href=/annotated/{{ file }}>{{ file }}</a> </li>
      {% endfor %}
    </ul>
  </div>


  <!-- <div class="alert alert-info text-center" role="alert"> -->
  <!--   Some information about eventually us I guess...  -->
  <!-- </div> -->
  <!-- <\!-- <img src="{% static 'juno.jpg'%}" class="img-responsive"> -\-> -->
  <!-- <hr> -->
  <!-- <div class="row"> -->
  <!--   <div class="col-md-6"> -->
  <!--     <h3><span class="glyphicon glyphicon-info-sign"></span> Some Stuff</h3> -->
  <!--     <ul> -->
  <!--       <li>Juno is the best of us</li> -->
  <!--     </ul> -->
  <!--   </div> -->
  <!--   <div class="col-md-6"> -->
  <!--     <h3><span class="glyphicon glyphicon-link"></span> Juno</h3> -->
  <!--     <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3> -->
  <!--   </div> -->
  <!-- </div> <\!-- row -\-> -->
  <!--  <div class="alert alert-info text-center" role="alert"> -->
  <!-- </div> -->
</div>
{% endblock %}
<script>
function validate()
{
alert("Going to post your data now!");
}
</script>
